.fab-icon-button{
    user-select: none;
    color: #626262;
    /*width: max-content;*/
    cursor: pointer;
    padding: 4px 8px;
    border: 1px solid grey;
    font-size: 10px;
    border-radius: 2px;
    text-align: center;
    height: fit-content;
    margin-top: 20px;
    width: max-content;
}

.editor-right-panel{
    user-select: none;
    width: 15%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    background-color: rgb(249, 249, 249);
    border-left: 1px solid var(--super-light-gray-2);
    /*border-top: 1px solid var(--super-light-gray-2);*/
}

.texting-event-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
;
}
.texting-event-container span{
    user-select: none;

    font-size: 0.8rem;
}